<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>
    
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae optio quaerat repellat voluptate modi aliquid repudiandae cum dolor facilis, inventore nisi. Culpa doloremque excepturi, dolorum temporibus, quod beatae vero mollitia iusto labore maxime aut accusamus non soluta impedit esse eos natus quis ratione, ad enim? Illo harum exercitationem, nostrum alias, delectus, et nisi possimus necessitatibus deserunt debitis modi adipisci culpa quia. Voluptatum aliquam distinctio magni quidem non, error, vero numquam amet obcaecati nostrum accusamus temporibus repudiandae doloribus mollitia ipsum quos voluptatem rem sit odio enim architecto perferendis sapiente ipsa asperiores. Minus rem labore omnis. Molestias ullam non nobis illum nam quisquam asperiores expedita fugiat tempore eum et nulla ad voluptatum sit vitae, est reiciendis, voluptatibus quasi dolorum placeat officia necessitatibus praesentium perspiciatis. Totam obcaecati deleniti error illum suscipit quasi, soluta modi quam, aliquid rem ullam saepe velit voluptates unde molestias doloribus quisquam. Ut in adipisci repudiandae iusto amet impedit dolores et suscipit molestias consequuntur natus laboriosam officia est praesentium unde, id totam omnis modi error molestiae, odio tempora velit ex? Pariatur velit sunt delectus aliquid quaerat repudiandae, vero accusantium quasi similique nesciunt ea beatae magnam cum molestias a suscipit, laboriosam aut aliquam voluptatum recusandae nemo? Est molestias quidem aspernatur. Magni fugiat veniam, dolores sint possimus nemo illo rerum dicta nesciunt officia architecto quibusdam nam quaerat eum! Maiores voluptatibus culpa quia sint sapiente molestias. Quae illum labore deleniti aliquid eligendi ab, eum qui, enim laborum dolore nam facilis voluptatem commodi accusamus amet repellendus quam dignissimos veritatis, corrupti ad modi hic. Nostrum, natus. Consequatur eum nulla repudiandae aliquid odio ut reprehenderit corporis autem, hic iusto quae, magni ullam fugiat placeat aspernatur recusandae atque ab. Animi, asperiores? Doloremque esse obcaecati, tempora exercitationem officia non dolore ut ratione, necessitatibus saepe id aspernatur debitis dignissimos totam, suscipit accusantium perspiciatis cupiditate tempore. Vero debitis sapiente voluptas.</p>
        </section>
    </main>

    <%- include('partials/footer') %>
</body>
</html>